<h1>User Details</h1>

<%# display user info %>
<div class="card card-header results-block">
  <table class="col-md-12">
    <tbody>
      <tr>
        <%# display username, email and actions buttons %>
        <td><strong>Name: </strong><%= @user.full_name %></td>
        <td><strong>Email: </strong><%= @user.email %></td>
        <%# display option to follow user depend on restrictions of following %>
        <% if current_user.not_following?(@user) %>
          <td><span class="ms-2">
                <%# show follow button if there is no restrictions %>
                <%= link_to "Follow", friendships_path(friend: @user),
                                      class: "btn btn-sm btn-success", method: :post %>
              </span></td>
        <% else %>
          <%# display badge with message of restriction %>
          <td><span class="badge text-bg-secondary ms-2">
            Following
          </span></td>
        <% end %>
      </tr>
    </tbody>
  </table> 
</div>

<%# displaying table with tracked stocks of the user %>
<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class="lead">This user is not tracking any stocks</p>
<% end %>